* {
    margin: 0;
}

.homepageContainer {
    width: 100%;
    height: auto;
    background-color: #fff;
    position: relative;
}


.homepageFirstSection {
    background-color: #fff;
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.FirstSection {
    position: absolute;
    top: 120px;
    text-align: center;
}

.FirstSectionTitle {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 100px;
    margin-top: 50px;
}


.homepageSecondSection {
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3img {
    width: 100%;
    margin: 0;
}

.section4Container {
    width: 100%;
    height: 370px;
}

.section4imgContainer{
    margin: 0;
    width: 100%;
    height: 300px;
    background-color: #039900;
    position: relative;
    top: -5px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2.1;
}


.Topfive {
    font-size: 26px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    position: relative;
    margin-bottom: 100px;
    bottom: 120px;
}

.FirstSectionBookrank {
    position: relative;
    margin: 0 auto;
    display: flex; 
    flex-direction: row; 
    bottom: 50px;
}

.crown {
    width: 35px;
    height: 40px;
    margin: 10px;
}